 body {
    background-color: #8a0a0a;
    color: aliceblue;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
 }

 button {
    background-color: #f04444;
    color: aliceblue;
 }