body {
  background-color: #a30404;
  color: #000000;
  font-family: "Yusei Magic", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin: 15%;
}

button {
  color: #ffffff;
  border-color: #a70000;
  font-family: "Yusei Magic", sans-serif;
  background-color: #e00c0c;
}

.passo {

  display: none;
}

.passo.ativo {
  display: block;
}

main {
  text-align: center;
  max-width: 90%;
}

img {
  max-width: 80%;
}